@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

.footer{
  background: #34495E;
  padding: 40px 0px;

}
.logo{
  text-align: center;
  margin-left: 50%;
}
.foot{
  text-align: center;
  text-transform: uppercase ;
  color: white;
  padding: 10px;
  font-family: poppins regular;
}
/* SOCIAL STUFF  */

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: white;
}

a.twitter {
  color: white;
}

a.linkedin {
  color: white;
}