.logo{
    height: 100vh;
    width:auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.free{
    font-weight: bold;
}
.test{
    margin-left:0;
}

.hlog{
    padding-top: 2.5%;
    margin-left: 5%;
}
.sub{
    margin:250px;
    padding-top:2%;

}

.hlog1{
    padding-top: 2%;
    padding-right: 14%;
}

.login{
    border-radius: 100px;
    padding: 1em 4em;
    background:#ECF0F1;
    border: 2px solid #33495D;
    color: #434141;
    font-weight: bold;
}

.hloger{
    padding-top: 5%;
    margin-left: 10%;
    position: relative;
}
.hloger1{
    padding-top: 5%;
    padding-right: 20%;
}
.explo{
    border-radius: 100px;
    padding: 1em 4em;
    background:transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
}
.chevr{
    margin:auto ;
    margin-left: 5px;
}

/* SOCIAL STUFF  */

a.social {

    transition: transform 250ms;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 14px;
    font-size: 0.8em !important;
}

a.social:hover {
    transform: translateY(-2px);
}

.head{
    color: #33495d!important;
}
a.facebook:hover {
    color: #3b5999;
    border: 1px solid #3b5999;
}


a.twitter:hover {
    color: #55acee;
    border: 1px solid #55acee;
}

a.linkedin:hover{
    color: #0077B5;
    border: 1px solid #0077B5;
}

.inscription{
    background:#1E91DC;
    color:white;
    position: relative;
    appearance: none;
    padding: 1em 5em;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    margin-top: 5%;

}