@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
  background:none;
}
body{
  font-family: Montserrat;
}
.global{
  width:auto;
  background:#1E91DC;
  padding-top: 5%;
  padding-bottom: 5%;
}

.principal {
  width: 25%;
  padding: 5px 5px;
  font-size: 25px;
  background:#1E91DC;
  color:white;
  justify-content: center;
  display: flex;
  margin: auto;
  text-align:center;
  border: 4px solid white;
  font-weight: bold;
}

.second {
  width: 70%;
  padding-top: 3%;
  font-weight: bold;
  justify-content: center;
  margin: auto;
  display: flex;
  text-align: center;
  color: white;
  font-size: 42px;
  letter-spacing: 1rem;
  line-height: 1.5em;
}
.third{
  width:55%;
  padding-top: 3%;
  justify-content: center;
  margin: auto;
  display:flex;
  text-align: center;
  color:white;
}
.second{
  h1{
    font-size: 3.0em;
  }
}
.he{
  margin:auto;
  text-align: center;
  justify-content: center;
  padding-top: 3%;
}
.pf{
  color:white;
  padding: 10%;
  font-weight: bold;
}


.bg-img{
  height: 1086px;
  background-size: cover;
}

.block{
  background-color: white;
}
.box
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 40%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(145, 145, 145, 0.5);
}
.box .content{
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding-top: 5%;
  text-align: center;
}
.box .content h1{
  color: #1CBC9C;
  text-transform: uppercase;
  font-size: 32px;
  margin: 0 0 10px;
  padding: 15px;
  font-weight: 600;

}
.box .content p{
  color: #434242;
  font-size: 25px;
  font-weight: 500;
  padding: 15px;
}
/* button */
.bute{
  margin-top: 3%;
}
.but {
  position: relative;
  appearance: none;
  background: #2FCC71;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 2%;
}
span {
  position: relative;
  text-transform: uppercase;
  pointer-events: none;
}


.textoter {
  padding-top: 5%;
  padding-bottom: 3%;
}
.textoter .marche{
  color: #1CBC9C;
  text-transform: uppercase;
  font-weight: 600;
}
.textoter p{
  margin-top: 10%;
  color: #545b62;
}
.titrer{
  font-weight: bold;
  color: #545b62;
}
.lol{
  font-size: 34px;
  font-weight: bold;
}
.list-number {
  display: inline-block;
  background: #1CBC9C;
  color: white;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5;
  border-radius: 100%;
  font-weight: bold;
  margin-right: 5%;
}
.haha{
  margin-left: 16%;
  margin-top: 0!important;
  margin-bottom: 10%;
}
