@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
  background:none;
}
body{
  font-family: Montserrat;
}
.bg-img{
  height: 1086px;
  background-size: cover;
}

.block{
  background-color: white;
}
.box
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 40%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(145, 145, 145, 0.5);
}
.box .content{
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding-top: 5%;
  text-align: center;
}
.box .content h1{
  color: #1CBC9C;
  text-transform: uppercase;
  font-size: 32px;
  margin: 0 0 10px;
  padding: 15px;
  font-weight: 600;

}
.box .content p{
  color: #434242;
  font-size: 25px;
  font-weight: 500;
  padding: 15px;
}
/* button */
.button {
  position: relative;
  appearance: none;
  background: #2FCC71;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 2%;
}
span {
  position: relative;
  text-transform: uppercase;
  pointer-events: none;
}

/*button::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #1CBC9C, transparent);
  transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}

button:hover::before {
  --size: 400px;
}*/
